//
//  Config.xcconfig
//  chatappdemo
//
//  Created by Dhiman Ranjit on 26/04/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CLOUDINARY_CLOUD_NAME = dvvc3shfx
CLOUDINARY_API_KEY = 612826916797318
CLOUDINARY_API_SECRET = E0zPIbqfDVQi4HB0HroDaxTXRCo
CLOUDINARY_UPLOAD_PRESET = ml_default
